* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*class: the background colour of the page is grey*/
body {
  background-color: #d9dcd6;
}
/*class: the background colour is blue, the text is white,font change and padding added for the border around the context by 20px*/
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}
/*class: header to take up as much width as necessary at a font size of 48px*/
.header h1 {
  display: inline-block;
  font-size: 48px;
}
/* this creates the seo header to appear in a light grey*/
.header h1 .seo {
  color: #d9dcd6;
}
/* this creates a block element within the header, right away from the margin in a padding while floating which allows it to stay in line with header and remain flow of the rest of page*/
.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
/* no style type in the list which removes bullet points*/
.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}
/*class: main picture height and width sits as the background of the page behind other elements in the centre*/
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}
/*class: the image is moved in the search engine optimization to the left, margin of 25px pushed from the right*/
.float-left {
  float: left;
  margin-right: 25px;
}
/*class: this moves the image in the online reputation management section to the right with a margin of 25px (left)*/
.float-right {
  float: right;
  margin-left: 25px;
}
/*class: the content displayed should take up enough space as needed in the box, margin to the left is 20px with a width of 75% of the page*/
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}
/*class: the content is displayed on the right with a padding of 20px surrounding the content,the margin is 20px from the right and items are moved below the floating elements and content flots to the right. the width to take up 20% and height is 100%*/
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}
/*class: this is all white text and margin of 32px*/
.benefit-lead, .benefit-brand, .benefit-cost  {
  margin-bottom: 32px;
  color: #ffffff;
}
/*class: the headers have a margin of 10px from bottom and the text is aligned in the centre*/
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-lead img, .benefit-brand img, .benefit-cost img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/*the content on the left will be 20px from the sections below and the padding will be 50px around the content in addition a box heigh of 20px will be applied and a background of the colour blue and text in white8*/
.search-engine-optimization, .online-reputation-management, .social-media-marketing  {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
  max-height: 200px;
}
/* in the left section all headers will have a margin of 20px from the bottom to give room away from <p> and font size will be 36px*/
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2  {
  margin-bottom: 20px;
  font-size: 36px;
}

/*class: within the footer the padding will be 30px with a clear background and text to be in the centre of the page*/
.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}
/*class: to have a font size of 20px*/
.footer h2 {
  font-size: 20px;
}
